.pDetails{
    background-color:  #f8c2af;
}
.btn2 {
    background-color: #95f298; /* Green */
    border: none;
    color: rgb(19, 18, 18);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .btn2:hover {
    background-color: #bbcf4b; /* Darker Green */
    transform: scale(1.1); /* Grow the size by 10% */
  }
