div .navbar123{
    width: 94%;
}
.main{
    display: flex;
}
.img{
    width: 300px;
    height: 250px;
}
.productsInfo{
    display: block;
    background-color: #EFE7BC;
    color: rgb(3, 3, 3);
    font-size: 15px;
}
.btnDetails{
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btnDetails:hover{
    background-color: #0056b3;
    color: #7ee7aa;
}
.filters{
    display: flex;
}
.priceBtn,
.categoryBtn{
flex:1;
}
.categoryBtn button {
    background-color: #7ee7aa;
    color: #0056b3;
   padding: 3px;
   margin-left: 10px;
}
.categoryBtn :active {
    background-color: #003268;
}
.categoryBtn :hover {
    background-color: #0056b3;
    color:White;
}
.priceBtn button {
    background-color: #7ee7aa;
    color: #0056b3;
    padding: 3px;
    margin-left: 10px;
}
.priceBtn :hover {
    background-color: #0056b3;
    color:White;
}
.priceBtn :active{
    background-color: #003268;
}

@media (max-width: 768px) {
    div.navbar123 {
        width: auto;
    }

    .main {
        flex-direction: column; /* Stack items vertically */
    }

    .img {
        width: 100%; /* Make images responsive */
        height: auto; /* Maintain aspect ratio */
    }

    .btnDetails {
        width: 100%; /* Make buttons full width */
        margin-bottom: 15px; /* Increase bottom margin for better spacing */
    }

    .filters {
        flex-direction: column; /* Stack filters vertically */
    }

    .categoryBtn button,
    .priceBtn button {
        width: 100%; /* Make filter buttons full width */
        margin-bottom: 10px; /* Increase bottom margin for better spacing */
    }
}